<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" authorizationPolicy="episerver:cmsedit" >
	<assemblies>
		<add assembly="CodeArt.Optimizely.PropertyInheritance" />
	</assemblies>

	<clientModule initializer="propertyinheritance/initializer">
		<moduleDependencies>
			<add dependency="CMS" type="RunAfter" />
		</moduleDependencies>
	</clientModule>

	<dojo>
		<!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
		<paths>
			<add name="propertyinheritance" path="ClientResources/Scripts" />
		</paths>
	</dojo>
</module>